@charset "UTF-8";
.bg, html {
  background-color: rgb(38, 34, 34);
  width: 100%;
  height: 100%;
  margin: 0;
}

.f-s {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.zero {
  height: 150px;
  font-size: 70px;
  color: whitesmoke;
  text-align: end;
  margin-top: 30px;
}
@media screen and (min-width: 480px) {
  .zero {
    height: 170px;
    font-size: 85px;
  }
}
@media screen and (min-width: 992px) {
  .zero {
    height: 150px;
    font-size: 60px;
  }
}

.grid * {
  background-color: rgb(28, 26, 26);
  display: grid;
  grid-template: 2px;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(60px, 500px));
  grid-template-rows: repeat(7, 50px);
  gap: 4px;
}
@media screen and (min-width: 480px) {
  .grid {
    grid-template-rows: repeat(7, 70px);
  }
}
@media screen and (min-width: 992px) {
  .grid {
    grid-template-rows: repeat(7, 40px);
  }
}

.grid-p {
  display: flex;
  gap: 40px;
  color: white;
  height: 50px;
  padding-left: 17px;
  justify-content: start;
  border-top: none;
}

.grid-mc {
  display: flex;
  gap: 40px;
  color: white;
  height: 50px;
  padding-left: 17px;
  padding-right: 17px;
  justify-content: start;
  border-top: 0;
}

.mc-color {
  color: gray;
}

.m-color {
  color: gray;
}
.m-color::after {
  content: "";
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid gray;
  display: inline-block;
  margin-bottom: 5px;
}
@media screen and (min-width: 480px) {
  .m-color {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .m-color {
    display: none;
  }
}

.grid-function {
  background-color: rgb(29, 29, 29);
  display: flex;
  justify-content: start;
  gap: 40px;
  padding-left: 20px;
  text-align: center;
  align-items: center;
  color: whitesmoke;
  height: 50px;
}

.bgb {
  background-color: black;
}

.nav-at::before {
  content: "";
  border-bottom: 20px solid whitesmoke;
  border-left: 20px solid transparent;
  color: white;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

.nav-at::after {
  content: "";
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
}

.nav-a::before {
  content: "ƒ";
  margin-right: 10px;
  font-size: 23px;
  text-align: center;
}

.nav-a::after {
  content: "";
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
  text-align: center;
}

.bgg {
  background-color: rgb(50, 48, 48);
}

.nav-at {
  text-decoration: none;
}

.nav-a {
  text-decoration: none;
  text-align: center;
}

nav {
  font-family: monospace;
}

ul {
  background-color: rgb(121, 114, 114);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  text-align: center;
}

li a {
  color: #fff;
}

li:hover {
  border-bottom: 1px dotted yellowgreen;
  text-align: center;
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 7rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  align-items: center;
  border: 1px dotted rgb(186, 186, 192);
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
  border: 1px dotted yellowgreen;
}/*# sourceMappingURL=style.css.map */